
.admin-card {
  margin-top: 20px;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  background-color:#ffffff;
  border-radius: 10px;
  }

  .user-image {
    max-width:80%;
    border-radius: 50%;
    align-self: center; 
  }
  .rol {
    align-self: center; 
  }
  .table-container {
    flex-grow: 1; 
  }
  .save-button {
    margin-top: 20px;
  }
  .btn{
      height: 5rem;
      width: 100%;
  }
  