

<div class="container">
    <h1>Producto</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="admin-card">
          <img [src]="this.rutaImagen" alt="Imagen de producto" class="user-image mb-3">
        </div>
      </div>
      <div class="col-md-8">
        <div class="admin-card table-container"> 
          <table class="table">
       
              <tr>
                <td>Nombre Prodcuto</td>
                <td><input type="text" class="form-control" placeholder="Nombre del Producto" [(ngModel)]="producto.nombreProducto"></td>
              </tr>
              <tr>
                <td>Descripcion</td><!--En caso de que no esté creado el usuario que ponga null y si esta creado que aqui ponga sus datos-->
                <td><input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="producto.descripcion"></td>
              </tr>
              <tr>
                <td>Precio EUR</td>
                <td><input type="text" class="form-control" placeholder="Precio en €" [(ngModel)]="producto.precioEUR"></td>
              </tr>
              <tr>
                <td>Stock</td><!--En caso de que no esté creado el usuario que ponga null y si esta creado que aqui ponga sus datos-->
                <td><input type="text" class="form-control" placeholder="Stock" [(ngModel)]="producto.stock"></td>
              </tr>
              <tr>
                <td>Imagen</td><!--En caso de que no esté creado el usuario que ponga null y si esta creado que aqui ponga sus datos-->
                <td><div>Aqui se implementará la lógica para subir una nueva imagen</div></td>
              </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary save-button" (click)="modificaProducto(producto.productoID)">Guardar Cambios</button>
      </div>
    </div>
  </div>
