
.admin-card {
  margin-top: 20px;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  background-color:#ffffff;
  border-radius: 10px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table td {
    border: none; /* Elimina todos los bordes de las celdas */
  }
  .user-image {
    max-width:80%;
    border-radius: 50%;
    align-self: center; 
  }
  .rol {
    align-self: center; 
  }
  .table-container {
    flex-grow: 1; 
  }
  .save-button {
    margin-top: 1rem;
  }
  .btn{
      height: 5rem;
      width: 100%;
  }

  @media (max-width: 998px) {
    .form-control{
      width: 85%;

    }
    .anchura{
      width: auto;
    }
    .user-image{
      margin-top: -3rem;
    }
  }

  @media (max-width: 998px) {

    .user-image{
      margin-top: 1rem;
    }
  }