.form {
  margin: 0 auto;
  width: 20vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.2em;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  font-weight: bold;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 150%;
}

.field,
.fieldEmail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fieldEmail:has(:focus:invalid) .input {
  border-color: tomato;
}

.fieldEmail:has(:focus:valid) .input {
  border-color: green;
}

.label {
  font-size: 120%;
}

.input {
  height: 35px;
  border: 3px solid #ccc;
  outline: none;
}

.remember {
  width: 100%;
  text-align: center;
}

.checkbox {
  margin-right: 1em;
  transform: scale(2, 2);
}

.button {
  width: 60%;
  align-self: center;
  padding: 1.2vw;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.register {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #204164;
}

@media (width < 1280px) {
  .form {
    width: 30vw;
  }
}

@media (width < 900px) {
  .form {
    width: 40vw;
  }
}

@media (width < 650px) {
  .form {
    width: 50vw;
  }
}
