<div class="form">

  <h1 class="title">INICIAR SESIÓN</h1>

  <div class="field">
    <label class="label">Usuario</label>
    <input class="input" type="text" placeholder="Introduce tu usuario">
  </div>

  <div class="field">
    <label class="label">Contraseña</label>
    <input class="input" type="password" placeholder="Introduce tu contraseña">
  </div>

  <div class="remember">
    <input class="checkbox" type="checkbox">
    <label class="label">Recuérdame</label>
  </div>

  <button class="button">Iniciar sesión</button>

  <a class="register" [routerLink]="'/signup'">Crea una cuenta</a>

</div>