<!-- Modificar nombre usuario -->
<div>
  <input class="input-field" type="text" placeholder="Modificar nombre" [(ngModel)]="modificarNameUser">
</div>
<div>
  <button class="button" (click)="modificarNombre()">Modificar nombre</button>
</div>

<!-- Modificar email usuario -->
<br>
<div>
  <input class="input-field" type="text" placeholder="Modificar email" [(ngModel)]="modificarEmailUser">
</div>
<div>
  <button class="button" (click)="modificarEmail()">Modificar email</button>
</div>

<!-- Modificar contraseña usuario -->
<br>
<div>
  <input class="input-field" type="text" placeholder="Modificar contraseña" [(ngModel)]="modificarContrasenaUser">
</div>
<div>
  <div>
    <input class="input-field" type="text" placeholder="Confirmar contraseña" [(ngModel)]="confirmarContrasena">
  </div>
  <div>
  <button class="button" (click)="modificarContrasena()">Modificar contraseña</button>
</div>

<!-- Modificar dirección usuario -->
<br>
<div>
  <input class="input-field" type="text" placeholder="Modificar dirección" [(ngModel)]="modificarDireccionUser">
</div>
<div>
  <button class="button" (click)="modificarDireccion()">Modificar dirección</button>
</div>

<button (click)="logOut()" [routerLink]="'/'">CERRAR SESIÓN</button>