<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


    <div class="container">
<div class="titulo"><h1>Informacion de pedido</h1> </div>
        <div class="purchase-details right-align">
            <div>ID del pedido:</div>
            <div>Direccion:</div>
            <div>Fecha:</div>
            <br>
            <div>
                <div class="order-item">
                    <div class="product-image">
                        <img src="descarga.jpg" alt="Imagen del Producto" class="rounded-image">
                    </div>
                    <div class="nombre">Nombre Producto</div>
                    <div class="quantity-controls">
                        <span class="cantidad">cantidad</span>
                    </div>
                    <div>precio</div>
                </div>
                <hr>
            </div>   
            
            <div class="order-item">
                <strong>Total:</strong>
                <strong>$100.00</strong>
            </div>
        </div>
    </div>
</body>

</html>
