@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://www.fontspace.com/cf-glitch-city-font-f29830');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image: url('/assets/fondoLogin.jpg');
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
position: relative;


}

.arrow-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: #000 ;
  font-size: 24px;
}

.arrow-down i {
  transition: transform 0.3s ease;
}

.arrow-down:hover i {
  transform: scale(1.2);
}