<div class="container">
    
<div class="titulo">Carrito</div>

    <div class="productos">
        <div class="producto">
            <div class="datos-producto">
                <div class="nombre-producto">ProductoNombre</div>
                <button class="boton-cantidad">+</button>
                <div class="cantidad-producto">cantidad</div>
                <button class="boton-cantidad">-</button>
                <div class="multiplicador">X</div>
                <div class="precio-producto">precio</div>
                <div class="euros">€</div>
            </div>
            <div class="zona-inferior">
                <div class="botones-inferioes">
                    <button class="boton-tramitar">Tramitar pedido</button>
                    <button class="boton-seguir">seguir comprando</button>                 
                </div>
                <div class="precio-producto">TOTAL:</div>
                <div class="euros">€</div>
            </div>

        </div>
    </div>
    


    
</div>

