


.shipping-address {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.eliminar {
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eliminar i {
    color: white;
}


.purchase-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.right-align {
    margin-left: auto;
    margin-right: 0;
}

.summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.product-image img {
    width: 150px;
    height: auto;
}
.cantidad-producto{
margin: 2rem;
}
.container{
margin-top: 2rem;
}
/* Media queries para pantallas de baja resolución */
@media (max-width: 500px) {
    .purchase-details {
        padding: 10px;
    }
    .product-image img {
        width: 100px;
    }
    .order-item button {
        font-size: 14px;
        margin: 0.5rem;
    }
    .order-item p {
        font-size: 14px;
    }
    .purchase-details .order-item {
        flex-direction: column;
    }
    .quantity-controls {
        display: flex;
        align-items: center;
        flex-direction: row; /* Mostrar los elementos en una fila */
    }
    .quantity-controls button {
        padding: 5px;
    }
    .cantidad{
        width: 2rem;
    }

}