* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1rem;
}

.productos,
.tramitar {
    max-width: 60vw;
    margin: 0 auto;
    background-color: #22C4D8;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
    font-size: 1em;
}

.nombre-producto {
    padding: 1vw;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.cantidad {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.boton-cantidad {
    width: 2rem;
    height: 2rem;
}

.cantidad-producto {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 1vw;
    width: 60%;
}

.totales {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.euros {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: .4vw;
}

.boton-op {
    padding: .4vw;
}

@media (max-width :900px) {

    .productos {
        grid-template-columns: repeat(1, 1fr);
    }

}