<div class="container">

    <div class="productos" *ngFor="let producto of carrito.listaProductosCarrito">
            
        <div>
            <img [src]="'https://localhost:7281/images/' + producto.producto.productoID + '.png'" class="image">
            <div class="nombre-producto">{{producto.producto.nombreProducto}}</div>
        </div>

        <div class="cantidad">
            <button class="boton-cantidad" (click)="actualizarCantidad(-1, producto)">-</button>
            <div class="cantidad-producto">{{producto.cantidadProducto}}</div>
            <button class="boton-cantidad" (click)="actualizarCantidad(1, producto)">+</button>
        </div>

        <div class="totales">
            <button class="boton-cantidad">X</button>
            <div class="euros">{{(producto.producto.precioEUR * producto.cantidadProducto).toFixed(2)}}€</div>
        </div>

    </div>

    <div class="tramitar">
        <button class="boton-op"[routerLink]="'/confirm'">Tramitar</button>
        <button class="boton-op" [routerLink]="'/catalog'">Catálogo</button>
        <div class="euros">{{carrito.totalCarritoEUR}}€</div>
    </div>
    
</div>