<div class="containall">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <!--Titulos de las 2 ventanas-->
						<h6 class="mb-0 pb-3 modo" ><span id="iniciar">Iniciar sesión</span><span id="registrar">Registrarse</span></h6>
                        <!--checkboxes que los haremos invisibles para k este fachero -->
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" [(ngModel)]="toggle" (change)="colorVentanas()"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
                                <!--tarjeta de inicion de sesion-->
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
                                            <!--Titulo de login-->
											<h4 class="mb-4 pb-3">Iniciar sesión</h4>
											<div class="form-group">
                                                <!--campo correo electronico-->
												<input type="email" class="form-style" placeholder="Correo electrónico" [(ngModel)]="usuarioLogIn.correo">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
                                                <!--Campo contraseña-->
												<input type="password" class="form-style" placeholder="Contraseña" [(ngModel)]="usuarioLogIn.contrasena">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="checkbox-wrapper-24">
												<input type="checkbox" id="check-24" name="check" value="" [(ngModel)]="recuerdame"/>
												<label for="check-24">
												  <span>	</span>Recuérdame
												</label>
											  </div>
                                            <!--Boton de iniciar sesion-->
											<a class="btn mt-4" (click)="iniciarSesion()">Iniciar sesión</a>
				      					</div>
			      					</div>
			      				</div>

                                <!--tarjeta de registro-->
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
                                            <!--titulo de registro-->
											<h4 class="mb-3 pb-3">Registrarse</h4>
											<div class="form-group">
                                                <!--Campo de usuario-->
												<input type="text" class="form-style" placeholder="Usuario" [(ngModel)]="usuarioSignUp.nombreUsuario">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
                                                <!--Campo de contraseña-->
												<input type="password" class="form-style" placeholder="Contraseña" [(ngModel)]="usuarioSignUp.contrasena">
												<i class="input-icon uil uil-lock-alt"></i>
											</div><div class="form-group mt-2">
                                                <!--Campo de repetir la contraseña-->
												<input type="password" class="form-style" placeholder="Repite la contraseña" [(ngModel)]="repetirContrasena">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>	    
                                                <div class="form-group mt-2">
                                                    <!--Campo del Email-->
												<input type="email" class="form-style" placeholder="Email" [(ngModel)]="usuarioSignUp.correo">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div>
												<div class="form-group mt-2">
													<!--Campo de la direccion-->
													<input type="text" class="form-style" placeholder="Dirección" [(ngModel)]="usuarioSignUp.direccion">
													<i class="input-icon uil uil-home-alt"></i>
												</div>
											</div>
											
                                            <!--Boton de registrar-->
											<a class="btn mt-4" (click)="registrarUsuario()">Registrarse</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</div>