.header {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: #000000;

}

.reason-section {

  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: #fff;
}

#catalogo {
  margin-left: 15rem;
  width: 10rem;
}

#sobreNosotros {
  margin-left: 6rem;
  width: 10rem;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo img {
  height: 40px;
  width: auto;
}


.nav-buttons .btn {
  border: none;
  background-color: #333;
  color: #fff;

}

.nav-buttons .btn:hover {
  background-color: #fff;
  ;
  color: #000000;
}

.nav-buttons .btn i {
  margin-right: 5px;

}

.cta-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;

}

.cta-btn:hover {
  background-color: #E7B10A;
  color: #fff;
}
#carrito{
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
  #catalogo {
    margin-left: 0;
    width: 100%;
  }

  #sobreNosotros {
    margin-left: 0;
    width: 100%;
  }
}