<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<header class="header fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <div class="logo">
      <img [routerLink]="''" src="/assets/icon.jpeg" alt="Logo">
    </div>
    <div class="nav-buttons">
      <button [routerLink]="'/catalog'" class="btn btn-light" id="catalogo"><i class="fas fa-book-open"></i>
        Catálogo</button>
      <button [routerLink]="'/aboutus'" class="btn btn-light" id="sobreNosotros"><i class="fas fa-info-circle"></i>
        Sobre
        nosotros</button>
    </div>
    <div class="nav-buttons">
      <button [routerLink]="'/cart'" class="btn btn-light">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge badge-danger" *ngIf="cantidadCarrito > 0">{{cantidadCarrito}}</span>
      </button>
      <button [routerLink]="'/sesion'" class="btn btn-light" *ngIf="!logged()"><i class="fas fa-sign-in-alt"></i>
        Iniciar Sesión</button>
      <button [routerLink]="'/user'" class="btn btn-light" *ngIf="logged()"><i class="fas fa-user"></i>
        Perfil</button>
    </div>
  </div>
</header>