<header class="header">
  <img  [routerLink]="''" src="/assets/icon.jpeg" alt="FunkosShop Logo" class="logo">
  <button class="button-49" [routerLink]="'/aboutus'" role="button">About us</button>
  <button class="button-49" [routerLink]="'/catalog'" role="button">Catalogo</button>
  <button class="carrito" [routerLink]="'/cart'"><img src="assets/carro.png"   class= "imagen_carrito" /></button>
  <button class="button-49" role="button" [routerLink]="'/sesion'">INICIA</button>
</header>

<body>
  <div id="slider" [routerLink]="'/catalog'">
      <figure>  
        <img src="https://localhost:7281/images/1.png" alt="">
        <img src="https://localhost:7281/images/2.png" alt="">
        <img src="https://localhost:7281/images/3.png" alt="">
        <img src="https://localhost:7281/images/4.png" alt="">
        <img src="https://localhost:7281/images/5.png" alt="">
        <img src="https://localhost:7281/images/6.png" alt="">
        <img src="https://localhost:7281/images/7.png" alt="">
        <img src="https://localhost:7281/images/8.png" alt="">
      </figure>
    </div>
</body>

