<header>
  <div class="container">
    <h1>Lista de productos</h1>
    <div class="button-container">
      <button class="admin-button btn btn-primary" [routerLink]="'/adminUsuarios'">ADMIN USUARIOS</button>
      <button class="admin-button btn btn-primary" [routerLink]="'/adminProductos'">ADMIN PRODUCTOS</button>
    </div>
  </div>
</header>

    <div class="container" id="caja">
        <div class="purchase-details right-align">
            <div>
                <div class="order-item"  role="button" *ngFor="let producto of productos" [routerLink]="'/adminProducto/' + producto.productoID">
                  <div class="quantity-controls">{{producto.productoID}}</div>
                    <div class="product-image">
                        <img [src]="urlImage(producto.productoID)" alt="Imagen del Producto" class="rounded-image">
                    </div>
                    <div>{{producto.nombreProducto}}</div>
                    <div>{{producto.precioEUR}} €</div>
                    <div>
                        <button class="btn btn-primary botones">Eliminar</button>
                        <button class="btn btn-primary botones">Editar</button>
                    </div>
                </div>
                <hr>
            </div>
                <button class="btn btn-primary" id="añadir">Añadir Producto</button>
        </div>
    </div>

