


    <div class="container">
        <div class="purchase-details right-align">


            <div>
                <div class="order-item">
                    <div class="product-image">
                        <img src="" alt="Imagen del Producto" class="rounded-image">
                    </div>
                    <div>Producto 1</div>
                    <div class="quantity-controls">ID</div>
                    <div>$50.00</div>
                    <div>
                        precio
                    </div>
                    <div>
                        <button>Eliminar</button>
                        <button>Editar</button>
                    </div>
                </div>
                <hr>
            </div>

            
                <button class="btn btn-primary">Añadir Producto</button>
        </div>
    </div>

