

.content {
  padding: 50px 0;
  text-align: center;
  z-index: 999;
  margin-top: -3rem;
}

.about-us {
  background: transparent;
  backdrop-filter: blur(50px);
  padding: 50px 0;
  margin: 1rem;
  width: auto;
  border-radius: 20px;

}

.values {
  background: transparent;
  backdrop-filter: blur(50px);
  padding: 50px 0;
  margin: 1rem;
  border-radius: 20px;
  width: auto;
}

.team-member {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.team-member p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0;
}

.footer {
  background-color: #333;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

@keyframes colorful {
  0% {
      filter: hue-rotate(0deg);
  }

  100% {
      filter: hue-rotate(360deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  appearance: none;
  border-style: none;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container2 {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.container2 .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 1em;
  background-color: #333;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.603);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container2 .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}

body .container2 .card .content .img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(24, 24, 24, 0.25);
}

.container2 .card .content .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container2 .card .content .cardContent h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container2 .card .content .cardContent h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container2 .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container2 .card .sci li {
  margin: 0 10px;
  transform: translateY(40px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.container2 .card .sci li a {
  font-size: 24px;
}

.container2 .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container2 .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.equipo{
  background-color: #333;
  margin: 2rem;
  width: auto;
  margin-bottom: -1rem;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: underline;

}
/*subrayado
.tituloAbout{
  text-decoration: underline;
}
.tituloValores{
  text-decoration: underline;
}
*/
.header-section {
  position: relative;
  background-image: url('/assets/icon.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;

  height: 100vh;
z-index: 1;  
}


.header-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header-section p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}


.about-us,
.values {
  position: relative;
  z-index: 2;
}
