
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="header-section">
        <div class="content">
            <div class="container">
                <div class="about-us">
                    <h1 class="tituloAbout">Sobre Nosotros</h1>
                    <p class="lead">Somos una empresa dedicada a proporcionarte la mejor experiencia de compra de Funko Pops.</p>
                </div>
                <div class="values">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h1 class="tituloValores">Nuestros Valores</h1>
                            <p class="lead">Nos enfocamos en la calidad, la satisfacción del cliente y la pasión por los Funko Pops.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/Modongo.jpeg" class="scroll-hint" id="scroll-hint" (click)="scrollDown()">
    </div>
<!--Poner nuestras fotos y nuestros enlaces -->
    <div class="content">
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="equipo">Nuestro Equipo</h1>
                </div>
            </div>
            <div class="container2">
                <div class="card">
                    <div class="content">
                        <div class="img"><img src="/assets/Modongo.jpeg"></div>
                        <div class="cardContent">
                            <h3>Alejandro Moreno<br><span>Diseñador Grafico</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://github.com"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img"><img src="/assets/Modongo.jpeg"></div>
                        <div class="cardContent">
                            <h3>Ionut Pop<br><span>Financiero Emprendedor</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://github.com"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img"><img src="/assets/Modongo.jpeg"></div>
                        <div class="cardContent">
                            <h3>David Ortiz<br><span>Marketing digital</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://github.com"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img"><img src="/assets/Modongo.jpeg"></div>
                        <div class="cardContent">
                            <h3>Pablo Frías<br><span>Experto en Comercio Electrónico</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://github.com"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>© 2024 FunkosShop. Todos los derechos reservados.</p>
            <p>Jose apruebanos que nos lo hemos currao</p>
        </div>
    </footer>
</body>
