
.nav-buttons button {
    margin-left: 10px;
}


.card-body {
    padding: 15px;
}

.shipping-address {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 2rem;
}

.purchase-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.right-align {
    margin-left: -10rem;
    margin-right:0 auto;
    width: 60rem;
}
.summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
}

.elemento2 {
    grid-column: 2; /* Se coloca en la segunda columna */
    margin-top: -25rem;
    margin-right: -10rem;
}

/* Estilos para pantallas medianas */
@media (max-width: 991px) {
    .right-align {
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Ancho del contenedor al 80% */
    }

    .elemento2 {
        margin-top: 2rem;
        margin-right: 0; /* Eliminar el margen derecho */
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .right-align,
    .elemento2 {
        width: 100%; /* Ancho del contenedor al 100% */
        margin-left: auto;
        margin-right: auto;
    }
}
