<h1 class="titulo">Panel de Usuario</h1>

<button [routerLink]="'/userDatos'" class="btn btn-primary">Datos personales</button>
<button  class="btn btn-primary terminar">Cerrar Sesion</button>
<div class="container mt-5">
  <div class="row">
    <div class="col">       
     <div>       
      <div class="main-div d-flex justify-content-between align-items-center border p-3">
        <div class="text-left">Pedido</div>
        <div class="text-center">Información</div>
        <div class="text-right">Precio</div>
      </div>
     <!-- AÑADIR LOGICA de aki para abajo -->
      <div [routerLink]="'/userPedido/' + pedido.pedidoID" class="main-div d-flex justify-content-between align-items-center border p-3" role="button" *ngFor="let pedido of pedidos">
        <div class="text-left">{{pedido.pedidoID}}</div>
        <div class="text-center">{{pedido.fechaPedido.split	('T')[0]}}</div>
        <div class="text-right">{{pedido.totalPedidoEUR}} €</div>
      </div>

    </div>
  </div>
</div>