

  <div class="container">
    <h1>Usuario</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="admin-card table-container"> 
          <table class="table">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Contenido</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nombre de Usuario</td><!--En caso de que no esté creado el usuario que ponga null y si esta creado que aqui ponga sus datos-->
                <div><div>{{usuario.nombreUsuario}}</div></div>
              </tr>
              <tr>
                <td>Correo electronico</td><!--En caso de que no esté creado el usuario que ponga null y si esta creado que aqui ponga sus datos-->
                <td><div>{{usuario.correo}}</div></td>
              </tr>
              <tr>
                <td>Rol</td>
                <td><select class="form-control" [(ngModel)]="usuario.rol">
                  <option value="USUARIO">USUARIO</option>
                  <option value="ADMIN">ADMIN</option>
                </select></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary save-button">Guardar Cambios</button>
      </div>
    </div>
  </div>
