
.admin-card {
  margin-top: 20px;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  background-color:#ffffff;
  border-radius: 10px;
}
.titulo {
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.user-image {
  max-width: 100px;
  border-radius: 50%;
  align-self: center; 
}
.rol {
  align-self: center; 
}
.table-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}
.row{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.btn{
    height: 5rem;
    width: 100%;

}
.row2{
  width: 100%;
}
.form-control{
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}