
<header>
    <button class="menu-icon">x</button>
    <input type="text" placeholder="Buscador">
    <div class="cart-login">
        
        <button [routerLink]="'/login'">Inicio sesión</button>
    </div>
</header>

<section class="seccion" *ngFor="let categoria of productosCategoria">
    <h1>{{categoria.categoria}}</h1>   
        <div class="productos">
            <div class="producto" *ngFor="let producto of categoria.productos" [routerLink]="'/product/' + producto.productoId">
                <img [src]="'https://localhost:7281/images/' + producto.productoId + '.png'" class="producto-imagen">
                <div class="detalles">
                    <div class="producto-nombre">{{producto.nombreProducto}}</div>
                    <div class="euro">{{producto.precioEUR}}€</div>
                </div>
            </div>
        </div>   
</section>

