<header class="header fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-center">
            <input class="buscador" type="search" [(ngModel)]="buscadorFunko" (input)="aplicarFiltros()" placeholder="Buscador">
            <select [(ngModel)]="opcionSeleccionada" (change)="aplicarFiltros()">
                <option value="sinFiltro" selected> Añadir/Eliminar filtro </option>
                <option value="MenorPrecio"> Precio: De menor a mayor </option>
                <option value="MayorPrecio"> Precio: De mayor a menor </option>
                <option value="LetraA_Z"> Ordenar: De la "A" a la "Z" </option>
                <option value="LetraZ_A"> Ordenar: De la "Z" a la "A" </option>
            </select>
    </div>
  </header>

<section class="seccion" *ngFor="let categoria of funkosFiltrados" >
    <h1 *ngIf="categoria.productos.length > 0">{{categoria.categoria}}</h1>   
        <div class="productos" *ngIf="categoria.productos.length > 0">
            <div class="producto" *ngFor="let producto of categoria.productos" [routerLink]="'/product/' + producto.productoID">
                <img [src]="'https://localhost:7281/images/' + producto.productoID + '.png'" class="producto-imagen">
                <div class="detalles seccionProductos">
                    <div class="producto-nombre">{{producto.nombreProducto}}</div>
                    <div class="euro">{{producto.precioEUR}}€</div>
                </div>
            </div>
        </div>   
</section>

