header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: 2px solid black;
}

.menu-icon {
   background-color: transparent;
   border: none;
}

.seccion {
   background-color: lightgrey;
   padding: 10px;
}

.productos {
   background-color: #B12723;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   place-items: center;
   gap: 2em;
   padding: 2em;
   border-radius: 10px;
   cursor: pointer;
}

.producto {
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #bebdbd;
   box-shadow: 0 0 10px rgb(82, 82, 82);
}

.detalles {
   display: flex;
   justify-content: space-around;
}

.producto-imagen {
   font-size: 18px;
   font-weight: bold;
   width: 100%;
}

.producto-nombre {
   font-size: 17px;
}

@media (max-width :800px) {

   .productos {
      grid-template-columns: repeat(3, 1fr);
   }

}

@media (max-width :500px) {

   .productos {
      grid-template-columns: repeat(2, 1fr);
   }

}