<!-- ESTA SERA LA DEFAUL, TENDRA UNA CABECERA QUE PERMITE PULSAR EN LISTA USUARIO O EN LISTA PRODUCTO, 
  CADA USUARIO Y CADA PRODUCTO, AL CLICKARLO TE LLEVA A ADMIN USUARIO O ADMIN PRODUCTO  GL HF =)  Explicate por wasap mejor-->


<header>
  <div class="container">
    <h1>List de usuario</h1>
    <div class="button-container">
      <button class="admin-button">ADMIN USUARIO</button>
      <button class="admin-button">ADMIN PRODUCTO</button>
    </div>
  </div>
</header>


    <div class="container">
        <!-- Detalles de la compra -->
        <div class="purchase-details right-align">
            <div>
                <div class="order-item">
                    <div class="product-image">
                        <img src="descarga.jpg" alt="Imagen del Usuario" class="rounded-image">
                    </div>
                    <div>Nombre 1</div>
                    <div>
                        <button>Eliminar</button>
                        <button>Editar</button>
                    </div>
                </div>
                <hr>
            </div>
                <button class="btn btn-primary">Añadir Usuario</button>
        </div>
    </div>
