
.botones{
margin: 1rem;
}
.botones:hover{
    background-color: #E7B10A;
    border-color: #E7B10A;
}
.admin-button{
margin: 1rem;
background-color: #333;
border-color: #d1d1d1;
}
.admin-button:hover{
    background-color: #f8f9fa;
    color: #1a1a1a;
}
#añadir{
    width: 100%;
    height: 5rem;
}
#añadir:hover{
    background-color: #E7B10A;
    border-color: #E7B10A;
}
.shipping-address {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.purchase-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.right-align {
    margin-left: auto;
    margin-right: 0;
}

.summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.product-image img {
    width: 150px;
    height: auto;
}

#caja{
    margin-top: 2rem;
}

@media (max-width: 500px) {
    .purchase-details {
        padding: 10px;
    }
    .product-image img {
        width: 100px;
    }
    .order-item button {
        align-items: center;
        font-size: 14px;
        margin: 0.5rem;
        
    }
    .order-item p {
        align-items: center;
        font-size: 14px;
        
    }
    .purchase-details .order-item {
        flex-direction: column;

        
    }
    .quantity-controls button {
        padding: 5px;
    }
}
header {
background-color: #333;
color: white;
padding: 1rem;
}

