<!-- ESTA SERA LA DEFAUL, TENDRA UNA CABECERA QUE PERMITE PULSAR EN LISTA USUARIO O EN LISTA PRODUCTO, 
  CADA USUARIO Y CADA PRODUCTO, AL CLICKARLO TE LLEVA A ADMIN USUARIO O ADMIN PRODUCTO  GL HF =)  Explicate por wasap mejor-->


<header>
  <div class="container">
    <h1>Lista de usuarios</h1>
    <div class="button-container">
      <button class="admin-button" [routerLink]="'/adminUsuarios'">ADMIN USUARIOS</button>
      <button class="admin-button" [routerLink]="'/adminProductos'">ADMIN PRODUCTOS</button>
    </div>
  </div>
</header>


    <div class="container">
        <!-- Detalles de la compra -->
        <div class="purchase-details right-align">
            <div>
                <div class="order-item" role="button" *ngFor="let usuario of usuarios" [routerLink]="'/adminProducto/' + usuario.usuarioID">
                    <div>{{usuario.nombreUsuario}}</div>
                    <div>{{usuario.rol}}</div>
                    <div>
                        <button>Eliminar</button>
                        <button>Editar</button>
                    </div>
                </div>
                <hr>
            </div>
                <button class="btn btn-primary">Añadir Usuario</button>
        </div>
    </div>
