<!-- ESTA SERA LA DEFAUL, TENDRA UNA CABECERA QUE PERMITE PULSAR EN LISTA USUARIO O EN LISTA PRODUCTO, 
  CADA USUARIO Y CADA PRODUCTO, AL CLICKARLO TE LLEVA A ADMIN USUARIO O ADMIN PRODUCTO  GL HF =)  Explicate por wasap mejor-->


<header>
  <div class="container">
    <h1>Lista de usuarios</h1>
    <div class="button-container row">
      <button class="admin-button btn btn-primary" [routerLink]="'/adminUsuarios'">ADMIN USUARIOS</button>
      <button class="admin-button btn btn-primary" [routerLink]="'/adminProductos'">ADMIN PRODUCTOS</button>
    </div>
  </div>
</header>


    <div class="container" id="caja">
        <!-- Detalles de la compra -->
        <div class="purchase-details right-align">
            <div>
                <div class="order-item" *ngFor="let usuario of usuarios">
                    <div>{{usuario.nombreUsuario}}</div>
                    <div>{{usuario.correo}}</div>
                    <div>{{usuario.rol}}</div>
                    <div>
                        <button class="btn btn-primary botones"(click)="borrarUsuario(usuario.usuarioID)">Eliminar</button>
                        <button class="btn btn-primary botones" [routerLink]="'/adminUsuario/' + usuario.usuarioID">Editar</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <ngx-toast-notifier></ngx-toast-notifier>