<div class="container">
    <div class="product-image">
        <img [src]="imageUrl" class="image" alt="imagen">
    </div>
    <div >
        <div class="descripcion">
            <h1>{{producto.nombreProducto}}</h1>
            <p>{{producto.descripcion}}</p>
            <div class="cantidad">
                <button (click)="actualizarCantidad(-1)">-</button>
                <input [(ngModel)]="cantidad" class="inputCantidad">
                <button (click)="actualizarCantidad(1)">+</button>
            </div>
            <p class="precio">{{producto.precioEUR}}€</p>
            <p class="precio">TOTAL: {{(producto.precioEUR * cantidad).toFixed(2)}}€</p>
            <button class="insertar" (click)="agregar()">Añadir a la cesta</button>
        </div>
    </div>
    <div class="stock">STOCK: {{producto.stock}}</div>
</div>